# Example Spark Script

## Get Spark Session

In [1]:
from scripts import vast_utils

spark, env_vars = vast_utils.get_spark_session()

Configuration:
---
KAFKA_BROKER=172.200.204.1:9092
KAFKA_ZEEK_TOPIC=siem_zeek_live_logs
KAFKA_EVENT_LOG_TOPIC=siem_fluentd_events
---
VASTDB_ENDPOINT=http://172.200.204.2:80
VASTDB_ACCESS_KEY=****QXN5
VASTDB_SECRET_KEY=****oLGr
VASTDB_ZEEK_BUCKET=csnow-db
VASTDB_ZEEK_SCHEMA=siem
VASTDB_ZEEK_TABLE_PREFIX=zeek_
VASTDB_FLUENTD_BUCKET=csnow-db
VASTDB_FLUENTD_SCHEMA=siem
VASTDB_FLUENTD_TABLE_PREFIX=fluentd_
---

✓ Spark session successfully created
✓ Zeek table prefix: `ndb`.`csnow-db`.`siem`.`zeek_`
✓ FluentD table prefix: `ndb`.`csnow-db`.`siem`.`fluentd_`

## Util.get_table_name Example

In [2]:
print("Example table names:")
print(f"Zeek conn table: {vast_utils.get_table_name(env_vars, 'zeek', 'conn')}")
print(f"FluentD logs table: {vast_utils.get_table_name(env_vars, 'fluentd', 'logs')}")

Example table names:
Zeek conn table: `ndb`.`csnow-db`.`siem`.`zeek_conn`
FluentD logs table: `ndb`.`csnow-db`.`siem`.`fluentd_logs`

## Select Table Example

In [4]:
conn_table_name = vast_utils.get_table_name(env_vars, 'zeek', 'conn')
conn_df = spark.sql(f"select * from {conn_table_name}")
display(vast_utils.display_dataframe(conn_df, num_rows=5))

Note: Converting timestamp columns to strings for display: ['ts']

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,conn_state,local_orig,...,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,ip_proto,orig_bytes,duration,resp_bytes
0,2025-06-13 21:25:26.631,CrxyLF4tcFcMjrUEzb,192.168.100.2,36966,192.168.100.22,80,tcp,http,S0,True,...,0,ST,1,112,0,0,6,NaN,NaN,NaN
1,2025-06-13 21:25:27.612,CIlAtE1U7XjfhwrEg2,192.168.100.2,27406,192.168.100.23,80,tcp,http,S0,True,...,0,ST,1,102,0,0,6,NaN,NaN,NaN
2,2025-06-13 21:25:28.611,Cwls7bzzYqVcEfKuj,192.168.100.2,50058,192.168.100.23,443,tcp,None,S0,True,...,0,S,1,40,0,0,6,NaN,NaN,NaN
3,2025-06-13 21:25:28.628,CqCJu74yaTSF65bhf7,192.168.100.2,46885,192.168.100.28,80,tcp,http,S0,True,...,0,ST,1,112,0,0,6,NaN,NaN,NaN
4,2025-06-13 21:25:28.812,C9nvAv3NXcaUkB3kFk,192.168.100.2,13213,192.168.100.26,80,tcp,http,S0,True,...,0,ST,1,112,0,0,6,NaN,NaN,NaN